<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>


</head>
<body>
<h1>Log In</h1>
    {% if from.errors %}
    <p>Incorrect username/password! Try Again.</p>
{% endif %}

{% if next %}

{% if user.is_authenticated %}

    <p> You dont have permission to view this page!</p>

{% else %}

    <p> please Log In to see this page!</p>
  
{% endif %}

{% endif %}

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <ul>
        <li>
            {{form.username.label_tag}}
            {{form.username}}
        </li>
        <li>
            {{form.password.label_tag}}
            {{form.password}}
        </li>

        <input type="submit" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
    </ul>
</form>   
</body>
</html>
